.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.smallTable {
    border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
button {
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 45%;
}
button:hover {
    background-color: blue;
}
div {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px
}
.wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}
#map {
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 1;
}
#graph {
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 2;
}